@model  MarsRover.Web.Models.ImagesBasedOnDateViewModel

<img src="@ViewBag.ImageData" />
@foreach (var item in Model.ImageUrlsByDate)
{
    <h1>@item.Key.ToShortDateString()</h1>
    foreach (var image in item.Value)
    {
        <img src="@Url.Content(image)" style="max-width: 150px;"/>
    }
}